.searchResult {
    margin: 0 auto;
    padding-top: 15px;

    .header {
        margin: 0 auto 50px;
        display: grid;
        justify-content: center;
        grid-template-columns: 280px;
        grid-template-rows: auto auto;

        font-size: 36px;

        @media all and (min-width: 480px) {
            font-size: 36px;
            grid-template-columns: 480;
        }
        @media all and (min-width: 839px) {
            font-size: 40px;
            grid-template-columns: 280px 550px;
            grid-column-gap: 75px;
        }
        @media all and (min-width: 1024px) {
            font-size: 40px;
            grid-template-columns: 280px 850px;
        }

        .logoContainer {
            
        }

        .searchContainer {
            padding-bottom: 15px;
            width: 80%;
        }
    }

    .resultContent {
        display: grid;
        justify-content: center;
        grid-template-columns: 280px;
        grid-template-rows: auto auto;
        grid-column-gap: 75px;

        @media all and (min-width: 480px) {
            grid-template-columns: 480px;
            grid-column-gap: 75px;
        }
        @media all and (min-width: 839px) {
            grid-template-columns: 280px 550px;
            grid-column-gap: 75px;
        }
        @media all and (min-width: 1024px) {
            grid-template-columns: 280px 850px;
            grid-template-rows: auto;
        }
    }
}