.repositoryInfo {
    font-family: 'Raleway';
    padding: 0 0 30px 44px;
    max-width: 750px;

    .linkToRepo {
        font-size: 35px;
        font-weight: 800;
        color: #ac53f2;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .repositoryName {
        margin: 0;
    }

    .repositoryDescription {
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 12px;
    }
}