.homeScene {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .searchContainer {
        padding-bottom: 10rem;
    }
}