.notFoundWrapper {
    width: 100%;
    text-align: center; 

    .notFoundMessage {
        font-family: 'Raleway';
        font-weight: normal;
        font-size: 40px;
        color: #AC53F2;
    }
}